# CODEOWNERS
# Mas info: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Duenos por defecto (todo lo no especificado)
* @Abelp57p57

# Apps
/apps/web/ @Abelp57p57 @Abelp57
/apps/api/ @Abelp57p57

# Packages
/packages/ @Abelp57p57
/packages/* @Abelp57p57

# Backend & DB
/prisma/ @Abelp57p57

# Infra & Workflows
/.github/ @Abelp57p57
/pnpm-workspace.yaml @Abelp57p57
/turbo.json @Abelp57p57
